* {
  height: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 15px;
}

.card-container {
  height: 20vh;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-container:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.flip {
  transform: rotateY(180deg);
}

.backFace,
.frontFace {
  height: 20vh;
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  border-radius: 5px;
  transition: transform 0.5s;
  backface-visibility: hidden;
  cursor: pointer;
}

.frontFace {
  transform: rotateY(180deg);
}
