<section class="cards">
  <span *ngFor="let card of cards">
    <div
      [ngClass]="{ flip: card.clicked }"
      (click)="flipCard(card)"
      class="card"
      id="{{ card.name }}"
    >
      <img src="{{ card.url }}" alt="{{ card.name }}" class="frontFace" />
      <img
        src="./../../assets/pics/avengers_3.jpg"
        alt="Avengers"
        class="backFace"
      />
    </div>
  </span>
</section>

<div id="display-message" *ngIf="matches === 15">
  <app-display-screen></app-display-screen>
</div>
