ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(56, 54, 54, 0.6);
}

li {
  float: right;
}

li #home {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #450fdb;
}

li a:hover {
  background-color: rgb(10, 220, 235);
}
