<div id="displayScreen" *ngIf="!userNameEntered">
  <app-display-screen
    (userNameEntered)="userNameEntered = $event"
    [numberOfTurns]="numberOfTurns"
    [timeTaken]="timeTaken"
  >
  </app-display-screen>
</div>
<div *ngIf="userNameEntered">
  <app-timer
    (timesUpEvent)="isTimesUp = $event"
    [stopTimer]="wonGame"
    (timeTaken)="timeTaken = $event"
  ></app-timer>
  <app-cards
    [isTimesUp]="isTimesUp"
    [userNameEntered]="startGame"
    (cardsMatchedEvent)="wonGame = $event"
    (numberOfTurnsEvent)="numberOfTurns = $event"
  >
  </app-cards>
</div>
