table {
  border: solid 1px white;
  color: white;
  background-color: rgba(24, 112, 243, 0.281);
  margin: auto;
  align-content: center;
  height: 60vh;
  width: 70vw;
}

th {
  border: solid 1px white;
  color: white;
  height: 10vh;
}

tr:hover {
  background-color: rgba(4, 48, 241, 0.733);
}
