<div class="pop-up" *ngIf="isTimesUp">
  <div class="container">
    <p>{{ losingMessage() }}</p>
    <button id="try-again" (click)="reloadPage()">Try Again</button>
  </div>
</div>
<div class="pop-up" *ngIf="showMessage">
  <div class="container">
    <p>{{ winningMessage() }}</p>

    <div class="userInfo">
      <label>What is your name, child of Thanos?</label>
      <input type="text" [(ngModel)]="name" name="name" />
      <input type="submit" value="submit" (click)="addUser()" />
    </div>
    <button id="try-again" (click)="reloadPage()">Play Again</button>
  </div>
</div>
